@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1e1e1e;
}

/* For WebKit (Chrome, Safari) */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #9333ea;
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid gray;
  rotate: 180deg;
  position: absolute;
  top: 100%;
  z-index: 20;
}

.smallspaceforscrollbar::-webkit-scrollbar{
  margin-left: 1rem;
}

.radialblur{
  background: radial-gradient(circle at 50% 50%, #8700B8 0%, rgba(255, 255, 255, 0) 100%);

}